<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
       xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="template.xhtml">
    <ui:define name="content">
        <h:messages showDetail="true" layout="table" style="border: 1px solid black"/>
        <h:form id="default">
            <h:panelGrid columns="3">
                <h:outputLabel for="someinput">Enter something:</h:outputLabel>
                <h:inputText id="someinput" value="#{currentController.username}"/>
                <h:message for="someinput"/>
            </h:panelGrid>
            <h:commandButton action="#{currentController.create}"/>
            <h:commandButton action="#{currentController.decrement}" value="decrement"/>
        </h:form>

        <h:outputText value="#{currentController.count}"/>
        <h:outputText value="#{currentController.someOutput}" rendered="#{currentController.someOutput != null}"/>
        <br/>
        <h:link outcome="/homepage.xhtml" value="Home"/>
    </ui:define>
</ui:composition>
</html>
