<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Default page llolmao</title>
</h:head>
<h:body>
    <f:view>
        <div id="container">
            <div id="header">

            </div>
            <div id="sidebar">

            </div>
            <div id="content">
                <h:outputLabel value="Hello, world"/>
                <br/>
                <h:outputLabel value="Below should insert content"/>
                <ui:insert name="content"/>
            </div>
        </div>
    </f:view>
</h:body>
</html>
